@import "custom";
@import "~bootstrap/scss/bootstrap";

//GENERALS
img{
  width:100%;
}

.btn{
  min-height:50px;
}

*{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

body.is-bg{
    background-repeat: no-repeat;
    background-position: left 95% bottom 25%;
}


//CONTAINER
.container-xxl{
  position: relative;
  padding: 0;
  background-color:white;
  &.box-shadow{
    -webkit-box-shadow: 0 0 20px 0 rgba(51,48,111,0.3);
    box-shadow: 0 0 20px 0 rgba(51,48,111,0.3);
  }
}

.form-control{
  -webkit-box-shadow: inset 0 1px 4px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 4px 1px rgba(0,0,0,0.05);
  border: 1px solid #F9F9F9;
  color:$gray-900;
  font-weight: 300;
}

.footer{
  background-color:$primary;
  >figure{
    max-width:90px;
  }
}

//NAVBAR
.navbar {
  min-height: 100px;
  width: 100%;
  max-width: 1300px;
  z-index: 1;
  padding: 20px 40px;
  &.is-transparent{
    position: absolute;
  }
  .navbar-brand{
    img{
      max-width: 79.87px;
      max-height: 107px;
    }
  }
}

//HEADER
.header{
  min-height: 614px;
  background-position: bottom;
}

//CAROUSSEL
.carousel {
  .carousel-inner {
    min-height: 450px;

    .carousel-item > div {
      max-height: 320px;
      max-width: 930px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      background-color: white;

      figure {
        min-width: 250px;

        img {
          transform: rotate(347deg);
        }
      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    opacity: 1;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: $primary;
      border-radius: 20px;
      min-width: 40px;
      min-height: 40px;
      background-size: 50%;
    }
  }
}

//CTA CONTAINER
.cta-container{
  background-color: $light-purple;
}

//REGISTER FORM SECTION
.register-section{
  max-width:800px;
}


//MEDIA QUERIES
@media screen and (max-width:576px){
  .w-sm-50{
    width:50%;
  }

}

