{% extends 'base.html.twig' %}

{% block title %}New BookLoan{% endblock %}

{% block body %}
    <h1>Create new BookLoan</h1>

    {{ include('loan/_form.html.twig') }}

    <a href="{{ path('book_loan_index') }}">back to list</a>
{% endblock %}
