{% set route = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-light  {% if route == 'home' %}is-transparent{% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="
            {% if route == 'home' %}{{ asset('build/images/logo-white.png') }}
            {% else %}{{ asset('build/images/logo-colors.png') }}{% endif %}"
             alt="Logo de la Réserve de la Chapelle">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item me-3">
                    <a class="nav-link {% if route == 'home'%}text-white{% endif %}" href="#">Se connecter</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-info">
                        <a class="nav-link text-white" href="{{ path('register') }}">S'inscrire</a>
                    </button>
                </li>

                {# <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>  #}

            </ul>
        </div>
    </div>
</nav>
