{% extends 'base.html.twig' %}

{% block title %}404 : Page non trouvée{% endblock %}

{% block body %}
    <div class="container-xxl box-shadow is-bg">
        {{ include ('_navigation.html.twig') }}

        <section class="d-flex flex-column align-items-center justify-content-center my-5 w-100 min-vh-100-404">
            <h1>Oops !</h1>
            <p>Vous n'avez pas les droits pour accéder à cette page</p>
            <button class="btn btn-secondary my-5">
                <a class="text-white text-decoration-none" href="{{ path('home') }}">Ramenez-moi en lieu sûr !</a>
            </button>
        </section>

        {{ include ('_footer.html.twig') }}
    </div>
{% endblock %}